body {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

h1 {
    /*Para los titulos de las secciones*/
    background-color: rgba(250, 250, 250, 0.801);
    color: rgb(17, 16, 14);
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 24px;
}

.nav-home {
    /*Lista de pestañas*/
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #eb7b31;
}

.nav-brand {
    width: 70px;
    margin-left: 20px;
    /*height: 70px;*/
}

.nav-home ul {
    display: flex;
}

.nav-home ul li {
    padding: 10px;
}

.nav-home ul li a {
    padding: 6px;
}

.nav-home ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.nav-home ul.contenedor-lista {
    flex: 1;
    margin-left: 20px;
}

header {
    background-color: rgb(126, 24, 24);
    padding: 0px;
    margin: 0px;
}
/*TEXTO Bienvenidos*/
header div span {
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cartel-bienvenida {
    width: 100%;
    height: 600px;
    padding-bottom: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-image: url("../images/fondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo-empresa {
    background-color: #4d4d4d8e;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: center;
}

.contenedor-lista {
    padding: 0px;
    display: flex;
    align-items: center;
}

li {
    display: flex;
}

.item {
    /*Modifica la caja de texto */
    margin-left: 5px;
    padding: 8px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
}

.item:hover {
    background-color: rgb(51, 50, 50);
}

.contenedor-video {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #747272ad;
    padding: 0px;
}

.contenedor-video video {
    width: 100%;
    height: 100%;
}

.video-descripcion {
    display: flex;
    margin-left: 20%;
    margin-right: auto;
}

.titulo-descripcion {
    padding-top: 5px;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 24px;
    text-align: center;
}

#d-proceso {
    font-size: 18px;
}


/*   SOCIAL  */

.social {
    padding-top: 100px;
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

footer {
    margin-top: 200px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1em;
    text-align: center;
}